# Heart disease classification

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("heart-disease.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
## there is no null value

In [7]:
X = df.drop("target" , axis = 1)
y = df['target']

In [8]:
X.shape,y.shape

((303, 13), (303,))

In [9]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [13]:
df.shape

(303, 14)

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [15]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [16]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [17]:
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [18]:
y_pred = clf.predict(X_test)

In [19]:
clf.score(X_train,y_train)

1.0

In [20]:
clf.score(X_test,y_test)

0.8360655737704918

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y_test, y_pred)

0.8360655737704918

In [23]:
#Checking which paramater best fits

In [24]:
np.random.seed(42)

for i in range(1,100,10):
    print(f'trying a model with: {i} estimators')
    model  = RandomForestClassifier(n_estimators = i).fit(X_train,y_train)
    print(f'accuracy score of the developed model:{model.score(X_test,y_test)}')
    print("")

trying a model with: 1 estimators
accuracy score of the developed model:0.7540983606557377

trying a model with: 11 estimators
accuracy score of the developed model:0.8524590163934426

trying a model with: 21 estimators
accuracy score of the developed model:0.8524590163934426

trying a model with: 31 estimators
accuracy score of the developed model:0.819672131147541

trying a model with: 41 estimators
accuracy score of the developed model:0.8360655737704918

trying a model with: 51 estimators
accuracy score of the developed model:0.8524590163934426

trying a model with: 61 estimators
accuracy score of the developed model:0.8360655737704918

trying a model with: 71 estimators
accuracy score of the developed model:0.8360655737704918

trying a model with: 81 estimators
accuracy score of the developed model:0.8688524590163934

trying a model with: 91 estimators
accuracy score of the developed model:0.8360655737704918

From the above method we can predict the best fit model

In [25]:
#Another methor to get best params

In [26]:
np.random.seed(42)

from sklearn.model_selection import GridSearchCV

param_grid = {'n_estimators': [i for i in range(10, 100, 4)]}

grid = GridSearchCV(RandomForestClassifier(),
                    param_grid,
                    cv=5)

grid.fit(X, y)

grid.best_params_

{'n_estimators': 70}

70 estimator is the best fit params for
the dataframe

In [27]:
## saving the model for future usage

In [28]:
import pickle

pickle.dump(model, open("random_forest1.pkl", "wb"))

In [29]:
loaded_model = pickle.load(open("random_forest1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8360655737704918